@model List<ServiceTracker.Models.Committees>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Names</th>
            <th>Descr.</th>
            <th>Term Length</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var com in Model)
        {
            <tr>
                <td>@com.Id</td>
                <td>@com.Name</td>
                <td>@com.Description</td>
                <td>@com.Term</td>
            </tr>            
        } 
    </tbody>
</table>
