@model ServiceTracker.Models.Employee

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h2>Model</h2>

<dl>
    <dt>Id</dt>
    <dd>@Model.Id</dd>
    <dt>First Name</dt>
    <dd>@Model.FirstName</dd>
    <dt>Last Name</dt>
    <dd>@Model.LastName</dd>
</dl>