@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the new PS Service Tracker</h1>
    <ul>
        <li><a asp-controller="interest">Interests</a></li>
        <br><br>
        @if (User.IsInRole("Admin"))
        {
            <h2>Admin Functions:</h2>
            <li><a asp-controller="committee">List of Committees</a></li>        
            <li><a asp-controller="committee" asp-action="assignment">Annual Assignment</a></li>
        }
       
    </ul>
    
</div>
