@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-controller="committee">List of Committees</a></li>
        <li><a asp-action="claims">No role Claims</a></li>
        <li><a asp-action="adminclaims">Auth Claims</a></li>
        <li><a asp-action="version">MVC Version</a></li>
    </ul>
    
</div>
