@model ServiceTracker.Models.CommitteeMembers

<h2>Edit member Appointment</h2>

<form asp-action="EditAppointment">
    <input type="hidden" asp-for="Id">
    @if (ViewBag.FromAssignment != null && ViewBag.FromAssignment)
    {
        <input type="hidden" id="FromAssignment" name="FromAssignment" value="true" />
    }   
    <div class="container">         
        <div class="form-group row">
            <label asp-for="Employee.Id" class="col-sm-3 col-form-label">Member:</label>    
            <div class="col-sm-3">
                <input type="text" asp-for="Employee.Name" readonly class="form-control-plaintext">
            </div>  
        </div>
        <div class="form-group row">
            <label asp-for="StartYear" class="col-sm-3 col-form-label">Star Year of Appointment</label>
            <div class="col-sm-2">
                <input type="text" asp-for="StartYear" class="form-control">
            </div>      
        </div>
        <div class="form-group row">
            <label asp-for="EndYear" class="col-sm-3 col-form-label">Star Year of Appointment</label>
            <div class="col-sm-2">
                <input type="text" asp-for="EndYear" class="form-control">
            </div>      
        </div>
        <div class="form-group row">
            <label asp-for="Chair" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-1">
                <input type="checkbox" asp-for="Chair" class="big-check">
            </div>
        </div> 
        <div class="form-group row">
            <label asp-for="ExOfficio" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-1">
                <input type="checkbox" asp-for="ExOfficio" class="big-check">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="submit" value="Update Appointment" class="btn btn-primary"> |
                @if (ViewBag.FromAssignment != null && ViewBag.FromAssignment)
                {
                    <a class="btn btn-dark" asp-action="Assignment" asp-route-id="@Model.CommitteeId">Cancel</a>
                } else
                {
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@Model.CommitteeId">Cancel</a>
                }                
            </div>            
        </div>
    </div>
</form>