@model ServiceTracker.Models.Committees

<h2>Edit @Model.Name</h2>


<form asp-action="Edit">
    <input type="hidden" asp-for="Id">
<div>  
    <div class="row">
         <div class="col-sm-12">
            <div asp-validation-summary="All" class="text-danger"></div>            
        </div>  
    </div>  
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <textarea type="text" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Term" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="Term" class="form-control"> 
            <span asp-validation-for="Term" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Active" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-1">
            <input type="checkbox" asp-for="Active" class="form-check-input big-check">
        </div>
    </div>
    <div>
        <input type="submit" value="Update" id="submit" class="btn btn-primary"> | <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark">Cancel</a>
    </div>
</div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/Javascript">
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        });
    </script>
}
