@model List<ServiceTracker.Models.Committees>



<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Names</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var com in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@com.Id">Details</a>
                </td>
                <td>@com.Id</td>
                <td>@com.Name</td>
                <td><input type="checkbox" checked="@com.Active"></td>
            </tr>            
        } 
    </tbody>
</table>
