html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.big-check {
  width: 30px; 
  height: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label.col-form-label{
  font-weight: bold;
}

.tooltip-inner {
  max-width: 500px !important;  
  width: 500px;
}